<div id="<%= dom_id sub_category %>">
  <p>
    <strong>Número:</strong>
    <%= sub_category.number %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= sub_category.name %>
  </p>

  <p>
    <strong>Categoría:</strong>
    <%= sub_category.category.name%>
  </p>

</div>
