<h1>Editar sub categoría</h1>

<%= render "form", sub_category: @sub_category %>

<br>

<div>
  <%= link_to "Ver sub categoría", @sub_category, class: "btn btn-primary"%> |
  <%= link_to "Regresar a sub categorías", sub_categories_path, class: "btn btn-primary"%>
</div>
