<div id="<%= dom_id sup_sub_category %>">
  <p>
    <strong>Número:</strong>
    <%= sup_sub_category.number %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= sup_sub_category.name %>
  </p>

  <p>
    <strong>Sub categoría:</strong>
    <%= sup_sub_category.sub_category.name %>
  </p>

</div>
