<div id="<%= dom_id sup_sub_category %>">
  <p>
    <strong>Number:</strong>
    <%= sup_sub_category.number %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= sup_sub_category.name %>
  </p>

  <p>
    <strong>Sub category:</strong>
    <%= sup_sub_category.sub_category_id %>
  </p>

</div>
