<h1>Editar super sub categoría</h1>

<%= render "form", sup_sub_category: @sup_sub_category %>

<br>

<div>
  <%= link_to "Ver super sub categoría", @sup_sub_category %> |
  <%= link_to "Regresar super sub categorías", sup_sub_categories_path %>
</div>
