<h1>Nueva super sub categoría</h1>

<%= render "form", sup_sub_category: @sup_sub_category %>

<br>

<div>
  <%= link_to "Regresar a super sub categorías", sup_sub_categories_path, class: "btn btn-primary"%>
</div>
