<h1>Editar Producto</h1>

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to "Editar producto", @product, class: "btn btn-primary" %> |
  <%= link_to "Regresar a productos", products_path, class: "btn btn-primary" %>
</div>
